.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 27%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    cursor: pointer;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 30%;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 30px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.logout-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

#search {
    border-radius: 10px 0px 0px 10px;
    font-size: medium;
}

.get-column {
    border: 0;
    width: 100px;
    color: gray;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#btn-search {
    border-radius: 0px 10px 10px 0px;
}

#myMessage {
    border-radius: 10px 0px 0px 10px;
    border: solid gainsboro 0.5px;
    font-size: medium;
    padding-left: 15px;
    padding-right: 15px;
}

#sendbutton {
    border-radius: 0px 10px 10px 0px;
}

#col-excel {
    height: 35px;
    border-radius: 10px;
    border: solid gainsboro 0.5px;
    padding-left: 15px;
    padding-right: 15px;
}

th {
    text-align: center;
    /* Or right or left */
}

td {
    text-align: center;
}

.mapping {
    width: 100%;
    height: 450px;
    border: 0;
    transition: 1s;
}

@media screen and (max-width: 500px) {

    .mapping {
        width: 100%;
        height: 100%;
        border: 0;
        transition: 1s;
    }

    li.page-item {

        display: none;
    }

    .page-item:first-child,
    .page-item:nth-child(2),
    .page-item:nth-last-child(2),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {

        display: block;
    }
}

@media screen and (max-width: 1300px) {
    .filedate {
        display: none;
    }
}
